<section id="section1">
    <h1>Allée couverte du Colombier</h1>
    <figure>
        <img src="images/small/Allee couverte du Colombier.jpg"/>
        <figcaption>Allée couverte du Colombier</figcaption>
    </figure>
    <ul>
        <li>Type: allée couverte</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten DMS: 47° 42′ 25″ nord, 0° 14′ 49″ est</li>
        <li>Lengtegraad: 0.24694444444444444</li>
        <li>Breedtegraad: 47.7069444</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Aubigné-Racan</li>
    </ul>
</section>
<section id="section2">
    <h1>Dolmen de la Pierre</h1>
    <figure>
        <img src="images/small/Dolmen de la Pierre.jpg"/>
        <figcaption>Dolmen de la Pierre</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 42′ 40″ nord, 0° 14′ 57″ est</li>
        <li>Lengtegraad: 0.24916666666666668</li>
        <li>Breedtegraad: 47.7111111</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Aubigné-Racan</li>
    </ul>
</section>
<section id="section3">
    <h1>Menhir du château de Bossé</h1>
    <figure>
        <img src="images/small/Menhir du chateau de Bosse.jpg"/>
        <figcaption>Menhir du château de Bossé</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Aubigné-Racan</li>
    </ul>
</section>
<section id="section4">
    <h1>Nécropole néolithique du théâtre antique de Cherré</h1>
    <figure>
        <img src="images/small/Necropole neolithique du theatre antique de Cherre.png"/>
        <figcaption>Nécropole néolithique du théâtre antique de Cherré</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 39′ 48″ nord, 0° 14′ 09″ est</li>
        <li>Lengtegraad: 0.23583333333333334</li>
        <li>Breedtegraad: 47.6633333</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Aubigné-Racan</li>
    </ul>
</section>
<section id="section5">
    <h1>Menhir du Perray</h1>
    <figure>
        <img src="images/small/Menhir du Perray.png"/>
        <figcaption>Menhir du Perray</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 46′ 11″ N, 0° 23′ 12″ E</li>
        <li>Lengtegraad: 0.3866666666666667</li>
        <li>Breedtegraad: 47.7530556</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Beaumont-Pied-de-Bœuf</li>
    </ul>
</section>
<section id="section6">
    <h1>Menhir de Clossay</h1>
    <figure>
        <img src="images/small/Menhir de Clossay.jpg"/>
        <figcaption>Menhir de Clossay</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Bonnétable</li>
    </ul>
</section>

<section id="section7">
    <h1>Menhir du Caillou</h1>
    <figure>
        <img src="images/small/Menhir du Caillou.jpg"/>
        <figcaption>Menhir du Caillou</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 44′ 39″ nord, 0° 29′ 09″ est</li>
        <li>Lengtegraad: 0.48583333333333334</li>
        <li>Breedtegraad: 47.7441667</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Chahaignes</li>
    </ul>
</section>
<section id="section8">
    <h1>Menhir de Gobianne</h1>
    <figure>
        <img src="images/small/Menhir de Gobianne.jpg"/>
        <figcaption>Menhir de Gobianne</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:47° 44′ 34″ N, 0° 29′ 23″ E</li>
        <li>Lengtegraad: 0.4897222222222222</li>
        <li>Breedtegraad: 47.7427778</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Chahaignes</li>
    </ul>
</section>
<section id="section9">
    <h1>Menhir de Haute-Crane</h1>
    <figure>
        <img src="images/small/Menhir de Haute-Crane.jpg"/>
        <figcaption>Menhir de Haute-Crane</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 39′ 33″ nord, 0° 31′ 21″ est</li>
        <li>Lengtegraad: 0.5225000000000001</li>
        <li>Breedtegraad: 47.6591667</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Dissay-sous-Courcillon</li>
    </ul>
</section>
<section id="section10">
    <h1>Menhir de la Pierre Levée</h1>
    <figure>
        <img src="images/small/Menhir de la Pierre Levee.jpg"/>
        <figcaption>Menhir de la Pierre Levée</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 40′ 30″ nord, 0° 29′ 04″ est</li>
        <li>Lengtegraad: 0.48444444444444446</li>
        <li>Breedtegraad: 47.675</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Dissay-sous-Courcillon</li>
    </ul>
</section>
<section id="section11">
    <h1>Menhir de La Serpinerie</h1>
    <figure>
        <img src="images/small/Menhir de La Serpinerie.jpg"/>
        <figcaption>Menhir de La Serpinerie</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 41′ 06″ nord, 0° 29′ 22″ est</li>
        <li>Lengtegraad: 0.48944444444444446</li>
        <li>Breedtegraad: 47.685</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Dissay-sous-Courcillon</li>
    </ul>
</section>
<section id="section12">
    <h1>Menhir de Lorrière</h1>
    <figure>
        <img src="images/small/Menhir de Lorriere.jpg"/>
        <figcaption>Menhir de Lorrière</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 35′ 11″ nord, 0° 08′ 24″ est</li>
        <li>Lengtegraad: 0.13999999999999999</li>
        <li>Breedtegraad: 47.5863889</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Dissé-sous-le-Lude</li>
    </ul>
</section>
<section id="section13">
    <h1>Pierre couverte</h1>
    <figure>
        <img src="images/small/Menhir du Caillou.jpg"/>
        <figcaption>Menhir du Caillou</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 03′ 14″ nord, 0° 31′ 14″ est</li>
        <li>Lengtegraad: 0.5205555555555557</li>
        <li>Breedtegraad: 48.0538889</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Duneau</li>
    </ul>
</section>
<section id="section14">
    <h1>Pierre Fiche</h1>
    <figure>
        <img src="images/small/Pierre Fiche.jpg"/>
        <figcaption>Pierre Fiche</figcaption>
    </figure>
    <ul>
        <li>Type: Mégalithe</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 03′ 36″ N, 0° 31′ 25″ E</li>
        <li>Lengtegraad: 0.5236111111111111</li>
        <li>Breedtegraad: 48.06</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Duneau</li>
    </ul>
</section>
<section id="section15">
    <h1>Les pierres tournantes</h1>
    <figure>
        <img src="images/small/Les pierres tournantes.jpg"/>
        <figcaption>Les pierres tournantes</figcaption>
    </figure>
    <p>Opstelling van de verplaatste menhirs voor de bouw van een autostrade.</p>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 50′ 34″ nord, 0° 18′ 30″ est</li>
        <li>Lengtegraad: 0.30833333333333335</li>
        <li>Breedtegraad: 47.8427778</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Écommoy</li>
    </ul>
</section>
<section id="section16">
    <h1>Dolmen de Cuissé</h1>
    <figure>
        <img src="images/small/Dolmen de Cuisse.jpg"/>
        <figcaption>Dolmen de Cuissé</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad: 0.24916666666666668</li>
        <li>Breedtegraad: 47.7111111</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Le Lude</li>
    </ul>
</section>
<section id="section17">
    <h1>Menhir (ancien dolmen) de la Pierre</h1>
    <figure>
        <img src="images/small/Menhir -ancien dolmen- de la Pierre.jpg"/>
        <figcaption>Menhir (ancien dolmen) de la Pierre</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 48′ 24″ nord, 0° 02′ 18″ est</li>
        <li>Lengtegraad: 0.03833333333333333</li>
        <li>Breedtegraad: 47.8066667</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: La Fontaine-Saint-Martin</li>
    </ul>
</section>
<section id="section18">
    <h1>Pierre Saint-Julien</h1>
    <figure>
        <img src="images/small/Pierre Saint-Julien.jpg"/>
        <figcaption>Pierre Saint-Julien</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 00′ 35″ N, 0° 11′ 53″ E</li>
        <li>Lengtegraad: 0.19805555555555554</li>
        <li>Breedtegraad: 48.0097222</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Le Mans<br>Place Saint-Michel</li>
    </ul>
</section>
<section id="section19">
    <h1>Dolmen de Lhomme</h1>
    <figure>
        <img src="images/small/Dolmen de Lhomme.jpg"/>
        <figcaption>Dolmen de Lhomme</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 46′ 07″ N, 0° 35′ 11″ E</li>
        <li>Lengtegraad: 0.586388888888889</li>
        <li>Breedtegraad: 47.7686111</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Lhomme<br>Maupertuis</li>
    </ul>
</section>
<section id="section20">
    <h1>Menhir de la Brunerie</h1>
    <figure>
        <img src="images/small/Menhir de la Brunerie.jpg"/>
        <figcaption>Menhir de la Brunerie</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 46′ 24″ nord, 0° 07′ 37″ est</li>
        <li>Lengtegraad: 0.12694444444444444</li>
        <li>Breedtegraad: 47.7733333</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Mansigné</li>
    </ul>
</section>
<section id="section21">
    <h1>Menhir de Courtevrais</h1>
    <figure>
        <img src="images/small/Menhir de Courtevrais.jpg"/>
        <figcaption>Menhir de Courtevrais</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 13′ 16″ nord, 0° 28′ 52″ est</li>
        <li>Lengtegraad: 0.4811111111111111</li>
        <li>Breedtegraad: 48.2211111</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Nogent-le-Bernard</li>
    </ul>
</section>
<section id="section22">
    <h1>Menhir non levé</h1>
    <figure>
        <img src="images/small/Menhir non leve.jpg"/>
        <figcaption>Menhir non levé</figcaption>
    </figure>
    <p>Menhir non levé, ou tombé, à 50 mètres au nord-est des menhirs de la Mère et de la Fille.</p>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 47′ 01″ nord, 0° 05′ 27″ est</li>
        <li>Lengtegraad: 0.24916666666666668</li>
        <li>Breedtegraad: 47.7111111</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Oizé</li>
    </ul>
</section>
<section id="section23">
    <h1>La Pierre Bergère</h1>
    <figure>
        <img src="images/small/La Pierre Bergere.jpg"/>
        <figcaption>La Pierre Bergère</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Parigné-l'Évêque</li>
    </ul>
</section>
<section id="section24">
    <h1>Pierre couverte</h1>
    <figure>
        <img src="images/small/Pierre couverte.jpg"/>
        <figcaption>Pierre couverte</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 51′ 30″ N, 0° 05′ 33″ E</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Parigné-le-Pôlin</li>
    </ul>
</section>
<section id="section25">
    <h1>Dolmen d'Amenon</h1>
    <figure>
        <img src="images/small/Dolmen d-Amenon.jpg"/>
        <figcaption>Dolmen d'Amenon</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 38′ 12″ N, 0° 15′ 12″ E</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Germain-d'Arcé<br>La Pièce de la Ronce</li>
    </ul>
</section>
<section id="section26">
    <h1>Menhir dit "Menhir du Gué"</h1>
    <figure>
        <img src="images/small/Menhir dit Menhir du Gue.jpg"/>
        <figcaption>Menhir dit "Menhir du Gué"</figcaption>
    </figure>
    <p> Petit menhir déplacé et christianisé (Croix gravée dans la partie supérieure).</p>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 37′ 30″ nord, 0° 17′ 39″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Germain-d'Arcé</li>
    </ul>
</section>
<section id="section27">
    <h1>Dolmen d'Amenon</h1>
    <figure>
        <img src="images/small/Dolmen d-Amenon.jpg"/>
        <figcaption>Dolmen d'Amenon</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 38′ 12″ N, 0° 15′ 12″ E</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Germain-d'Arcé<br>La Pièce de la Ronce</li>
    </ul>
</section>
<section id="section28">
    <h1>Menhirs de la Mère et de la Fille</h1>
    <figure>
        <img src="images/small/Menhirs de la Mere et de la Fille.jpg"/>
        <figcaption>Menhirs de la Mère et de la Fille</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 47′ 00″ nord, 0° 05′ 24″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Jean-de-la-Motte</li>
    </ul>
</section>
<section id="section29">
    <h1>Menhir</h1>
    <figure>
        <img src="images/small/Menhir.jpg"/>
        <figcaption>Menhir</figcaption>
    </figure>
    <p>Pierre levée à environ 50 mètres à l'ouest des menhirs de la Mère et de la Fille</p>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 47′ 00″ nord, 0° 05′ 21″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Jean-de-la-Motte</li>
    </ul>
</section>
<section id="section30">
    <h1>Palet de Gargantua</h1>
    <figure>
        <img src="images/small/Palet de Gargantua.jpg"/>
        <figcaption>Palet de Gargantua</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 44′ 50″ nord, 0° 03′ 42″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Jean-de-la-Motte</li>
    </ul>
</section>
<section id="section31">
    <h1>Pierre Potelée</h1>
    <figure>
        <img src="images/small/Pierre Potelee.jpg"/>
        <figcaption>Pierre Potelée</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 46′ 51″ nord, 0° 05′ 39″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Jean-de-la-Motte</li>
    </ul>
</section>
<section id="section32">
    <h1>Dolmen d'Hunault</h1>
    <figure>
        <img src="images/small/Dolmen d-Hunault.jpg"/>
        <figcaption>Dolmen d'Hunault</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 46′ 39″ nord, 0° 05′ 44″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Jean-de-la-Motte</li>
    </ul>
</section>
<section id="section33">
    <h1>Dolmen de Tresson</h1>
    <figure>
        <img src="images/small/Dolmen de Tresson.jpg"/>
        <figcaption>Dolmen de Tresson</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Mars-de-Locquenay</li>
    </ul>
</section>
<section id="section34">
    <h1>Menhir de Sourches</h1>
    <figure>
        <img src="images/small/Menhir de Sourches.jpg"/>
        <figcaption>Menhir de Sourches</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Saint-Symphorien</li>
    </ul>
</section>
<section id="section35">
    <h1>Menhirs de Blandan</h1>
    <figure>
        <img src="images/small/Menhirs de Blandan.jpg"/>
        <figcaption>Menhirs de Blandan</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Savigné-l'Évêque</li>
    </ul>
</section>
<section id="section36">
    <h1>Menhir du Loup Pendu</h1>
    <figure>
        <img src="images/small/Menhir du Loup Pendu.jpg"/>
        <figcaption>Menhir du Loup Pendu</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 32′ 10″ nord, 0° 06′ 50″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Savigné-sous-le-Lude</li>
    </ul>
</section>
<section id="section37">
    <h1>Dolmen de Sougé-le-Ganelon</h1>
    <figure>
        <img src="images/small/Dolmen de Souge-le-Ganelon.jpg"/>
        <figcaption>Dolmen de Sougé-le-Ganelon</figcaption>
    </figure>
    <p>En ruines, ne reste que deux pierres placées contre l'église.</p>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 19′ 05″ nord, 0° 01′ 47″ ouest</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Sougé-le-Ganelon</li>
    </ul>
</section>
<section id="section38">
    <h1>Dolmen de Torcé-en-Vallée</h1>
    <figure>
        <img src="images/small/Dolmen de Torce-en-Vallee.jpg"/>
        <figcaption>Dolmen de Torcé-en-Vallée</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 08′ 00″ nord, 0° 23′ 27″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Torcé-en-Vallée</li>
    </ul>
</section>
<section id="section39">
    <h1>Dolmen des Grandes Bruyères</h1>
    <figure>
        <img src="images/small/Dolmen des Grandes Bruyeres.jpg"/>
        <figcaption>Dolmen des Grandes Bruyères</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Tuffé</li>
    </ul>
</section>
<section id="section40">
    <h1>Dolmen de la Pierre couverte</h1>
    <figure>
        <img src="images/small/Dolmen de la Pierre couverte.jpg"/>
        <figcaption>Dolmen de la Pierre couverte</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 47° 41′ 46″ N, 0° 19′ 35″</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Vaas</li>
    </ul>
</section>
<section id="section41">
    <h1>Menhirs de Corbuon</h1>
    <figure>
        <img src="images/small/Menhirs de Corbuon.jpg"/>
        <figcaption>Menhirs de Corbuon</figcaption>
    </figure>
    <ul>
        <li>Type: menhir</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten:</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Villaines-sous-Lucé</li>
    </ul>
</section>
<section id="section42">
    <h1>Dolmen des Roches</h1>
    <figure>
        <img src="images/small/Dolmen des Roches.jpg"/>
        <figcaption>Dolmen des Roches</figcaption>
    </figure>
    <ul>
        <li>Type: dolmen</li>
        <li>Periode: Neolithicum</li>
        <li>Coördinaten: 48° 05′ 24″ nord, 0° 33′ 18″ est</li>
        <li>Lengtegraad:</li>
        <li>Breedtegraad:</li>
        <li>Land: Frankrijk</li>
        <li>Regio: Pays de la Loire</li>
        <li>Departement: Sarthe</li>
        <li>Stad: Vouvray-sur-Huisne</li>
    </ul>
</section>
<footer>
    <address>
        Samengesteld door Jef Inghelbrecht
    </address>
</footer>
</article>
</body>

</html>
